.calculadora {
    width: 300px; 
    border: 1px solid #1883d7;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* margin-left: auto;
    margin-right: auto; */
    box-shadow: inset 0 0 1em goldenrod, 0 0 1em GREY;
}

.linha{
    display: flex;
}
